<table>
<% @Users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.roles.first.role %></td>
    <td><%= user.isActive %></td>
    <td><%=  link_to "A/P", active_pasive_user_path(user) %></td>
  </tr>
<% end %>
</table>
